/ Time Line Page

/ Tab Navi
%ul.nav.nav-tabs
  %li.active
    %a{:href=>"/"}Time Line
  %li
    %a{:href=>"/search"}Search

/ Page Header
%div.row.glgl-tab-header
  %div.span6
    %h3
      %a{:href=>"#{TWITTER_URL}#{@user_name}",:target=>"_blank"}@#{@user_name}
  %div.span6{:align=>"right"}
    %button.btn.btn-primary{:onClick=>"location.href='/tweet'"} Tweet

/ Tweet List
-@time_line.each do |time_line_item|
  %div.row
    %div.span12.well.well-tweet
      %div.row
        %div.span1
          %a{:href=>"#{TWITTER_URL}#{@user_name}",:target=>"_blank"}
            %img.tweet{:src=>"#{time_line_item.user.profile_image_url}"}
        %div.span8
          %p.tweet.text #{time_line_item.text}
        %div.span3
          %p.tweet.timestamp #{time_line_item.created_at}
