%div.row
  %div.span6
    %h2 Search Result Of #{@sanitized_keyword}
  %div.span6{:align=>"right"}
    %form.form-search{:action=>"/search"}
      %input.search-query{:name=>"keyword",:type=>"text",:placeholder=>"Search",:value=>"#{@raw_keyword}"}

-@search_results.each do |search_result|
  %div.row
    %div.span12.well.well-tweet
      %div.row
        %div.span1
          %img.tweet{:src=>"#{search_result.profile_image_url}"}
        %div.span8
          %p.tweet.text #{search_result.text}
        %div.span3
          %p.tweet.timestamp #{search_result.created_at}
