/ Search Page
- require './utils'

/ Tab Navi
%ul.nav.nav-tabs
  %li
    %a{:href=>"/"}Time Line
  %li
    %a{:href=>"/fav"}Fav
  %li.active
    %a{:href=>"/search"}Search

/ Page Header
%div.row.glgl-tab-header
  %div.span6
    -if @sanitized_keyword
      %h3 Result "#{@sanitized_keyword}"
    -else
      %h3 Input search keyword.
  %div.span6{:align=>"right"}
    %form.form-search{:action=>"/search",:style=>"margin-bottom:0"}
      %input.search-query{:name=>"keyword",:type=>"text",:placeholder=>"Search",:value=>"#{@raw_keyword}"}

/ Tweet List
-if @search_results
  -@search_results.each do |search_result|
    %div.row
      %div.span12.well.well-tweet
        %div.row
          %div.span1
            %a{:href=>"#{Utils::TWITTER_URL}#{search_result.from_user}/status/#{search_result.id}",:target=>"_blank"}
              %img.tweet-img{:src=>"#{search_result.profile_image_url}"}
          %div.span11
            %div.row
              %div.span7.tweet-name
                %a{:href=>"#{Utils::TWITTER_URL}#{search_result.from_user}",:target=>"_blank"} @#{search_result.from_user}
              %div.span4
                %p.tweet-timestamp #{search_result.created_at}
            %div.row
              %div.span11
                %p.tweet-text= Utils.replace_to_a(search_result.text)
