/ Fav Page
- require './utils'

/ Page Header
%div.row.glgl-tab-header
  %div.span
    %h3
      %a{:href=>"#{Utils::TWITTER_URL}#{@user_name}/favorites"}@#{@user_name}'s favorites

/ Tweet List
-@favs.each do |fav_item|
  %div.row
    %div.span12.well.well-tweet
      %div.row
        %div.span1
          %a{:href=>"#{Utils::TWITTER_URL}#{fav_item.user.screen_name}/status/#{fav_item.id}"}
            %img.tweet-img{:src=>"#{fav_item.user.profile_image_url}"}
        %div.span11
          %div.row
            %div.span7.tweet-name
              %a{:href=>"#{Utils::TWITTER_URL}#{fav_item.user.screen_name}"} @#{fav_item.user.screen_name}
            %div.span4
              %p.tweet-timestamp #{fav_item.created_at}
          %div.row
            %div.span9
              %p.tweet-text= Utils.replace_to_a(fav_item.text)
            %div.span2
              %a.fav-button{:href=>"javascript: void(0)", :onclick=>"postFav(#{fav_item.id}, #{fav_item.favorited})"} #{fav_item.favorited ? "favorited" : "unfavorited"}
