/ Search Page
- require './utils'
- sanitized_keyword = CGI.escapeHTML(@keyword) if @keyword

/ Page Header
%div.row.glgl-tab-header
  %div.span6
    -if sanitized_keyword
      %h3 Result "#{sanitized_keyword}"
    -else
      %h3 Input search keyword.
  %div.span6{:align=>"right"}
    %form.form-search{:action=>"/search",:style=>"margin-bottom:0"}
      %input.search-query{:name=>"keyword",:type=>"text",:placeholder=>"Search",:value=>"#{@keyword}"}

/ Tweet List
-if @search_results
  %div#tweets
    -@search_results.each do |search_result|
      %div.row
        %div.span12.well.well-tweet
          %div.row
            %div.span1
              %a{:href=>"#{Utils::TWITTER_URL}#{search_result.from_user}/status/#{search_result.id}"}
                %img.tweet-img{:src=>"#{search_result.profile_image_url}"}
            %div.span11
              %div.row
                %div.span7.tweet-name
                  %a{:href=>"#{Utils::TWITTER_URL}#{search_result.from_user}"} @#{search_result.from_user}
                %div.span4
                  %p.tweet-timestamp #{search_result.created_at}
              %div.row
                %div.span11
                  %p.tweet-text= Utils.replace_to_a(search_result.text)
  %a#next{:href=>"/search?keyword=#{@keyword}&page=#{@page.to_i + 1}"}
  %hr
