/ Time Line Page
- require './utils'

/ Tab Navi
%ul.nav.nav-tabs
  %li.active
    %a{:href=>"/"}Time Line
  %li
    %a{:href=>"/fav"}Fav
  %li
    %a{:href=>"/search"}Search

/ Page Header
%div.row.glgl-tab-header
  %div.span6
    %h3
      %a{:href=>"#{Utils::TWITTER_URL}#{@user_name}",:target=>"_blank"}@#{@user_name}'s Time Line
  %div.span6{:align=>"right"}
    %button.btn.btn-primary{:onClick=>"location.href='/tweet'"} Tweet

/ Tweet List
-@time_line.each do |time_line_item|
  %div.row
    %div.span12.well.well-tweet
      %div.row
        %div.span1
          %a{:href=>"#{Utils::TWITTER_URL}#{time_line_item.user.screen_name}/status/#{time_line_item.id}",:target=>"_blank"}
            %img.tweet-img{:src=>"#{time_line_item.user.profile_image_url}"}
        %div.span11
          %div.row
            %div.span7.tweet-name
              %a{:href=>"#{Utils::TWITTER_URL}#{time_line_item.user.screen_name}",:target=>"_blank"} @#{time_line_item.user.screen_name}
            %div.span4
              %p.tweet-timestamp #{time_line_item.created_at}
          %div.row
            %div.span11
              %p.tweet-text= Utils.replace_to_a(time_line_item.text)
